{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock %}

{% block content %}
{% include 'partials/count-info.html' %}

<div class="row my-4 m-3">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white" style="border: 1px solid #4d648d;">
            <thead class="text-white" style="background-color: #4d648d;">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Odered by</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for orders in orders %}
                <tr>
                    <td>{{ orders.Product }}</td>
                    <td>{{ orders.Product.category }}</td>
                    <td>{{ orders.order_quantity }}</td>
                    <td>{{ orders.staff.username }}</td>
                    <td>{{ orders.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}