{% extends 'partials/base.html' %}
{% block title %}Password Reset Done Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Password Reset Done Page</h4>
            <hr>
            <div class="alert alert-info">
                <h5>We’ve send email to your registered email ID, You should receive them shortly.
                    </h5>
            </div>            
        </div>
    </div>
</div>
{% endblock %}
